body{
    margin: 0;
    background-color: #0a192f;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas.p5Canvas{
    width: 400px !important;
    height: 400px !important;
}